#bg{
    background-color: lightcyan;
}

#footer{
    text-align:center;
    /* align-items: center; */


}

#footer i{
    font-size: 18px;
    padding:1%;
}

#footer p{
    font-size: 18px;
    padding-top:0.5px;
}