<h1 align="center" class="display-4 mb-5"><b>My WishList</b></h1>

<!--Cart Detail Table-->
<table class="table table-striped text-center">
    <thead class = "wish-size">
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>

            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let productInOrder of page?.content">

            <th class="align-middle" scope="row">
                <a routerLink="/product/{{productInOrder.product.productId}}"><img height="100px"
                        src="{{productInOrder.product.productIcon}}" alt="{{productInOrder.product.productName}}"></a>
            </th>
            <td class="align-middle">
                <i class = "wish-size" >{{productInOrder.product.productId}}</i>
            </td>
            <td class="align-middle"><a class = "wish-size"
                    routerLink="/product/{{productInOrder.product.productId}}">{{productInOrder.product.productName}}</a>
            </td>
            <td class="align-middle"><i class = "wish-size">{{productInOrder.product.productPrice | currency:"₹"}}</i></td>


            <td class="align-middle">
                <a class = "wish-size" (click)="handleRemoveFromWishList(productInOrder.product.productId)"
                    routerLink="/wishlist">Remove</a>
            </td>

        </tr>

    </tbody>
</table>

<ng-template #empty>
    <h4 class="text-muted text-center wish-size">Wishlist is empty. Go to get something! :)</h4>
</ng-template>